
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: rgb(230, 230, 199);
    color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .navbar {
    width: 100%;
    background-color:rgb(147, 99, 99);
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar h2 {
    font-size: 2rem;
    margin: 0;
  }

  .search-container {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .it {
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 250px;
  }
  
  .bn {
    background-color: rgb(147, 121, 72);
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .bn:hover {
    background-color: #0056b3;
  }
  
  #drinks-list {
    margin-top: 30px;
    width: 100%;
    max-width: 900px;
  }
  
  .drink-item {
    background-color: #fff;
    margin: 10px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .drink-item h3 {
    font-size: 1.5rem;
    color: #007bff;
  }
  
  .drink-item p {
    font-size: 1rem;
    color: #555;
  }
  
  .drink-item button {
    background-color: #28a745;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .drink-item button:hover {
    background-color: #218838;
  }
  